.skils_container {
  width: 100%;
  height: auto;
}

.skils_container .title {
  padding: 30px 0;
  margin: 0 0 30px 0;
  font-size: 18px;
  font-family: "Noto Sans KR", sans-serif;
  -webkit-box-shadow: #cccccc 0 0 10px;
          box-shadow: #cccccc 0 0 10px;
}

.skils_container .skils_box {
  width: 70%;
  height: 100%;
  margin: 0 auto;
}

.skils_container .skils_box ul {
  width: 100%;
  height: auto;
}

.skils_container .skils_box ul li {
  width: 20%;
  margin: 15px;
  display: inline-block;
  cursor: pointer;
}

.skils_container .skils_box ul li .graph_bar {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: #cccccc 0 0 10px;
          box-shadow: #cccccc 0 0 10px;
}

.skils_container .skils_box ul li .graph_bar .graph_bg {
  background: #fff;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  text-align: center;
  line-height: 200px;
  font-size: 30px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.skils_container .skils_box ul li .graph_bar .graph_bg img {
  width: 40px;
  position: absolute;
  top: 25%;
  left: 36%;
}

.skils_container .skils_box ul li .graph_bar .graph_bg h3 {
  font-size: 22px;
}

.skils_container .skils_box ul li h5 {
  float: left;
  font-size: 25px;
  margin: 7px 0;
}

@media (max-width: 1335px) {
  .skils_container {
    width: 100%;
  }
  .skils_container .skils_box {
    width: 100%;
  }
}

@media (max-width: 920px) {
  .skils_container .skils_box ul {
    width: 100%;
  }
  .skils_container .skils_box ul li {
    width: 28%;
  }
}

@media (max-width: 660px) {
  .skils_container .skils_box ul {
    width: 100%;
  }
  .skils_container .skils_box ul li {
    width: 40%;
  }
}

@media (max-width: 465px) {
  .skils_container .skils_box ul {
    width: 100%;
  }
  .skils_container .skils_box ul li {
    width: 50%;
    margin: 5px;
  }
}

@media (max-width: 300px) {
  .skils_container {
    width: 298px;
  }
}
